<section class="book" id="book">
        
  <h1 class="heading">
      <span>b</span>
      <span>o</span>
      <span>o</span>
      <span>k</span>
      <span class="space"></span>
      <span>n</span>
      <span>o</span>
      <span>w</span>
  </h1>

  <div class="row">
    <div class="box-container"> 
      <div class="box" *ngIf="filtersLoaded | async">
          <img src="assets/images/{{ destinations }}.jpg" alt="{{ destinations }}">
          <div class="content">
              <h3 > {{ destinations }}</h3>
              <p>{{ description }}</p>
              <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
              </div>
              <div class="price">{{ price }} <span>$120.00</span></div>
          </div>
      </div>
    </div>
      <form action="">
          <div class="inputBox">
              <h3>where to</h3>
              <input #destination type="text" placeholder="place name" value="{{ destinations }}" disabled="true">
          </div>
          <div class="inputBox">
              <h3>how many</h3>
              <input #numberOfGuests type="number" placeholder="number of guests">
          </div>
          <div class="inputBox">
              <h3>arrivals</h3>
              <input #startDate type="date">
          </div>
          <div class="inputBox">
              <h3>leaving</h3>
              <input #endDate type="date">
          </div>
          <button (click)="createBooking(destination.value, startDate.value, endDate.value, numberOfGuests.value)"><input type="submit" class="btn" value="book now"></button>
      </form>
    
  </div>

  
  
</section>
