<header>

    <div class="fas fa-bars" id="menue-bar" ></div>

    <a href="#" class="logo"><span>t</span>ravel</a>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#gallery">Gallery</a>
        <a href="#services">Services</a>
        <a href="#footer">Contact</a>
        <a href="/destinations">Destinations</a>
        <a href="/user/admin" *ngIf="isAdmin">Admin</a>
    </nav>

    <div class="user">
        <a [routerLink]="['/user/reservation']"><h1>{{ userEmail }}</h1></a>
    </div>

    <div class="icons" *ngIf="notLoggedIn">
        <i class="fas fa-user" id="login-btn" [routerLink]="['/user/login']"></i>
    </div>
    <div class="icons" *ngIf="isLoogedIn">
        <i class="fas fa-user-slash" id="login-btn" (click)="onClickLogout()" [routerLink]="['http://localhost:4200/']"></i>
    </div>


</header>