<section class="home" id="home">

    <div class="content">
        <h3>adventure is worthwhile</h3>
        <p>dicover new places with us, adventure awaits</p>
        <a href="/destinations" class="btn">discover more</a>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="assets/images/vid-1.mp4"></span>
        <span class="vid-btn" data-src="assets/images/vid-2.mp4"></span>
        <span class="vid-btn" data-src="assets/images/vid-3.mp4"></span>
        <span class="vid-btn" data-src="assets/images/vid-4.mp4"></span>
        <span class="vid-btn" data-src="assets/images/vid-5.mp4"></span>
    </div>

    <div class="video-container">
        <video src="assets/images/vid-1.mp4" class="video-slider" loop="true" autoplay="true" muted="true"></video>
    </div>

</section>
