<section class="destinations">
    <a href="destinations/cities">
        <div class="city-banner">
            <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
                <span>start your adventure</span>
                <h3>Let's Explore This Cities</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum praesentium amet quibusdam quam officia suscipit odio.</p>
            </div>
        </div>
    </a>
    <a href="destinations/summer">
        <div class="summer-banner">
            <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
                <span>start your adventure</span>
                <h3>Let's Explore The Seas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum praesentium amet quibusdam quam officia suscipit odio.</p>
            </div>
        </div>
    </a>
    <a href="destinations/wintering">
        <div class="wintering-banner">
            <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
                <span>start your adventure</span>
                <h3>Let's Enjoy The Winter</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum praesentium amet quibusdam quam officia suscipit odio.</p>
            </div>
        </div>
    </a>
    <a href="destinations/adventures">
        <div class="adventures-banner">
            <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
                <span>start your adventure</span>
                <h3>Adventure is Here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum praesentium amet quibusdam quam officia suscipit odio.</p>
            </div>
        </div>
    </a>

</section>
